<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome</title>
</head>
<body>
    {{>header}}
    <section>{{welcomeMessage}}</section>
    <section>{{dynamicContent}}</section>
    {{>footer}}
</body>
</html>