<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome</title>
</head>
<body>
    {{>header}}
    <section><p>Oops! Site is down.</p><p>We'll be right back.</p></section>
    {{>footer}}
</body>
</html>